<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:sd="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>Edit Película</title>
  <!-- Latest compiled and minified CSS -->
</head>
<body>
<div layout:fragment="content">


  <link rel="stylesheet" type="text/css" href="static/css/layoutStyle.css" th:href="@{/css/layoutStyle.css}">


  <div class="container text-center">
    <div>
      <h1>Edit Película</h1>
    </div>
    <form th:action="@{/gestionFilm/save}" th:object="${film}"
          method="post" style="max-width: 600px; margin: 0 auto;">
      <input type="hidden" th:field="*{id}"/>
      <div class="m-3">
        <div class="form-group row">
          <label class="col-4 col-form-label">Titulo</label>
          <div class="col-8">
            <input type="text" th:field="*{title}" class="form-control" required/>
          </div>
        </div>
        <hr>
        <div class="form-group row">
          <label class="col-4 col-form-label">Año</label>
          <div class="col-8">
            <input type="text" id="año" th:field="*{year}" class="form-control"/>
          </div>
        </div>
        <hr>
        <div class="form-group row">
          <label class="col-4 col-form-label">Duración</label>
          <div class="col-8">
            <input type="text" id="duration" th:field="*{duration}" class="form-control"/>
          </div>
        </div>
        <hr>
        <div class="form-group row">
          <label class="col-4 col-form-label">Portada</label>
          <div class="col-8">
            <input type="text" th:field="*{cover}" class="form-control"/>
          </div>
        </div>
        <hr>
        <div class="form-group row">
          <label class="col-4 col-form-label">Casting</label>
          <div class="col-8">
            <input type="text" th:field="*{casting}" class="form-control"/>
          </div>
        </div>
        <hr>
        <div class="form-group row">
          <label class="col-4 col-form-label">Sinopsis</label>
          <div class="col-8">
            <input type="text" th:field="*{synopsis}" class="form-control"/>
          </div>
        </div>
        <hr>
        <div class="form-group row">
          <label class="col-4 col-form-label">Trailer</label>
          <div class="col-8">
            <input type="text" th:field="*{trailer}" class="form-control"/>
          </div>
        </div>
        <hr>
        <div class="form-group row">
          <label class="col-4 col-form-label">Activo</label>
          <div class="col-8">
            <input type="radio" th:field="*{active}" th:text="Activar" value="true" class="m-2"/>&nbsp;&nbsp;
            <input type="radio" th:field="*{active}" th:text="Desactivar" value="false" class="m-2"/>
          </div>
        </div>
        <hr>
        <div class="form-group row">
          <label class="col-4 col-form-label">Generos</label>
          <div class="col-8">
            <th:block th:each="genre: ${listGenres}">
              <input type="checkbox" th:field="*{genres}"
                     th:text="${genre.name}" th:value="${genre.id}" />&nbsp;&nbsp;&nbsp;&nbsp;
            </th:block>
          </div>
        </div>

        <hr>
        <div class="form-group row">
          <label class="col-4 col-form-label">Plataformas</label>
          <div class="col-8">
            <th:block th:each="platform: ${listPlatforms}">
              <input type="checkbox" th:field="*{platforms}"
                     th:text="${platform.name}" th:value="${platform.id}" />&nbsp;&nbsp;
            </th:block>
          </div>
        </div>

        <div>
          <button type="submit" id="btnSubmit" class="form-control btn-primary">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>