<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:sd="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>Gestión Películas</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/formStyle.css" th:href="@{/css/formStyle.css}">
</head>
<body>
<div layout:fragment="content">


  <link rel="stylesheet" type="text/css" href="static/css/layoutStyle.css" th:href="@{/css/layoutStyle.css}">


  <div class="container text-center">
    <div class="wrap">
      <div class="background">
        <form th:action="@{/gestionFilm/save}" th:object="${film}"
              method="post" style="max-width: 600px; margin: 0 auto;">
          <div class="title">
            <h1>Gestión Películas</h1>
          </div>
          &nbsp;
          <input type="hidden" th:field="*{id}"/>
          <div class="m-3">
            <div class="form-group row">
              <label class="col-4 col-form-label">Titulo Pelicula</label>
              <div class="col-8">
                <input type="text" th:field="*{title}" class="form-control" required/>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label class="col-4 col-form-label">Año</label>
              <div class="col-8">
                <input type="text" id="año" th:field="*{year}" class="form-control"/>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label class="col-4 col-form-label">Duración</label>
              <div class="col-8">
                <input type="text" id="duration" th:field="*{duration}" class="form-control"/>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label class="col-4 col-form-label">Portada</label>
              <div class="col-8">
                <input type="text" th:field="*{cover}" class="form-control"/>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label class="col-4 col-form-label">Casting</label>
              <div class="col-8">

                <textarea name ="text" th:field="*{casting}" class="section text" id="casting" ></textarea>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label class="col-4 col-form-label">Sinopsis</label>
              <div class="col-8">
                <!-- <input type="text" id="comment"  class="form-control"/>-->
                <textarea name ="text" th:field="*{synopsis}" class="section text" id="synopsis" ></textarea>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label class="col-4 col-form-label">Trailer</label>
              <div class="col-8">
                <input type="text" th:field="*{trailer}" class="form-control"/>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label class="col-4 col-form-label">Activo</label>
              <div class="col-8" style="color:rgb(233, 179, 17);">
                <input type="radio" th:field="*{active}" th:text="Activar" value="true" class="m-2"/>&nbsp;&nbsp;
                <input type="radio" th:field="*{active}" th:text="Desactivar" value="false" class="m-2"/>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label class="col-4 col-form-label">Generos</label>
              <div class="col-8" style="color:rgb(233, 179, 17);">
                <th:block th:each="genre: ${listGenres}">
                  <input type="checkbox" th:field="*{genres}"
                         th:text="${genre.name}" th:value="${genre.id}" />&nbsp;&nbsp;&nbsp;
                </th:block>
              </div>
            </div>

            <hr>
            <div class="form-group row">
              <label class="col-4 col-form-label">Plataformas</label>
              <div class="col-8" style="color:rgb(233, 179, 17);">
                <th:block th:each="platform: ${listPlatforms}">
                  <input type="checkbox" th:field="*{platforms}"
                         th:text="${platform.name}" th:value="${platform.id}" />&nbsp;&nbsp;
                </th:block>
              </div>
            </div>


          </div>
          <div class="submit">
            <button type="submit" value="Submit">Actualizar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>