body{
    background: url(../img/backgroundAccount.jpg) no-repeat center center fixed;
    background-size: cover;
}

.main-section{
    margin:0 auto;
    margin-top:10%;
    padding: 0;
}

.modal-content{
    background-color: #3b4652;
    opacity: .85;
    padding: 0 20px;

    box-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #c50d0d,
        0 0 82px #c50d0d,
        0 0 92px #c50d0d,
        0 0 102px #c50d0d,
        0 0 151px #c50d0d;
}
.img-title img{
    box-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #c50d0d,
            0 0 62px #c50d0d;


}

.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-img img{
    width: 100xp;
    height: 100px;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 50%;
}

.form-group{
    height: 42px;
    font-size: 20px;
    color:rgb(233, 179, 17);
    border:0;
    padding-left: 0px;
    border-radius: 5px;

     align-items: center;
}
.form-group input{
    height: 42px;
    font-size: 18px;
    border:0;
    padding-left: 54px;
    border-radius: 5px;
}

.form-group::before{
    font-family: "Font Awesome\ 5 Free";
    position: absolute;
    left: 28px;
    font-size: 22px;
    padding-top:4px;
}

.form-group#user-group::before{
    content: "\f007";
}

.form-group#contrasena-group::before{
    content: "\f023";
}

.form-group#calendar-group::before{
    content: "\f073";
}
.form-group#email-group::before{
    content: "\f0e0";

}
.form-group#file-group::before{
    content: "\f03e";
}

button{
    width: 60%;
    margin: 5px 0 25px;
}

.forgot{
    padding: 5px 0;
}

.forgot a{
    color: white;
}