<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout}">
<head>
    <title>Change Password</title>

</head>
<body>
<div layout:fragment="content">

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="static/css/accountStyle2.css" th:href="@{/css/accountStyle2.css}">

    <!--accountStyle2 ha sido creado porque cuando se generan nuevas rutas el layout pierde el estilo
    Ej.("/{id}/account/changePassword") esta nueva ruta provoca la perdida del estilo del layout.
    En accountStyle2 se han añadido el css de layout para solucionarlo-->


    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">


                <div class="col-12 user-img">

                    <img th:if="${#authentication.getPrincipal().getPhoto == null}"
                         src="static/img/user.png"
                         th:src="@{/img/user.png}">


                    <img th:unless="${#authentication.getPrincipal().getPhoto == null}"
                         src="'static/imgUser/'+ ${#authentication.getPrincipal().getPhoto"
                         th:src="@{'/imgUser/'+ ${#authentication.getPrincipal().getPhoto}}">

                </div>

                <form class="col-12" th:action="@{/changePassword}" method="post" th:object="${user}">
                    <div class="img-title">
                        <img src="static/img/titleAccount.png" th:src="@{/img/titleAccount.png}"/>
                    </div>
                    <br>
                    <br>
                    <br>


                    <div class="form-group" id="contrasena-group">

                        <input
                                type="password" name="oldPassword" class="form-control"
                                placeholder="Introduce tu contraseña antigua">

                    </div>

                    <div class="form-group" id="contrasena-group">

                        <input
                                type="password" id="password" name="newPassword" class="form-control"
                                placeholder="Introduce tu contraseña nueva" required autofocus="autofocus">

                    </div>

                    <div class="form-group" id="contrasena-group">

                        <input
                                type="password" id="confirm_password" name="confirm_password" class="form-control"
                                placeholder="Confirma tu nueva contraseña" required autofocus="autofocus">

                    </div>


                    <button type="submit" class="btn btn-primary" id="btnSubmit">Cambiar contraseña</button>


                    <!-- <input type="submit" class="form-control btn btn-primary " name="login-submit" id="login-submit"value="Ingresar"/>-->


                </form>
                <br>

                <div th:if="${errors}" class="alert alert-danger" role="alert">
                    La contraseña no es correcta.
                </div>

                <div th:if="${successful}" class="alert alert-success" role="alert">
                    Tu contraseña se ha cambiado correctamente.
                </div>

                <div class="form-group">
                    <span><FONT SIZE="4">Si deseas eliminar tu cuenta </FONT><a th:href="@{/login}">pulsa
							aqui</a></span>
                </div>


            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("La contraseña no coincide");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>
</div>
</body>
</html>
