<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:sd="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Edit User</title>


</head>
<body>
<div layout:fragment="content">

    <link rel="stylesheet" type="text/css" href="static/css/layoutStyle.css" th:href="@{/css/layoutStyle.css}">

    <div class="container text-center">
        <div>
            <h1>Edit User</h1>
        </div>
        <form th:action="@{/gestionUser/save}" th:object="${user}"
              method="post" style="max-width: 600px; margin: 0 auto;">
            <input type="hidden" th:field="*{id}"/>
            <div class="m-3">
                <div class="form-group row">
                    <label class="col-4 col-form-label">E-mail</label>
                    <div class="col-8">
                        <input type="email" th:field="*{userEmail}" class="form-control" required/>
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Password</label>
                    <div class="col-8">
                        <input type="password" id="password" th:field="*{password}" class="form-control"/>
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Confirm Password</label>
                    <div class="col-8">
                        <input type="password" id="confirm_password" class="form-control"/>
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <label class="col-4 col-form-label">First Name</label>
                    <div class="col-8">
                        <input type="text" th:field="*{userName}" class="form-control"
                               required minlength="2" maxlength="20"/>
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Last Name</label>
                    <div class="col-8">
                        <input type="text" th:field="*{userSurname}" class="form-control"
                               required minlength="2" maxlength="20"/>
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Fecha de Nacimiento</label>
                    <div class="col-8">
                        <input type="date" th:field="*{date}" class="form-control"/>
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Activo</label>
                    <div class="col-8">
                        <input type="radio" th:field="*{active}" th:text="Activar" value="true" class="m-2"/>
                        <input type="radio" th:field="*{active}" th:text="Desactivar" value="false" class="m-2"/>
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Roles</label>
                    <div class="col-8">
                        <th:block th:each="role: ${listRoles}">
                            <input type="checkbox" th:field="*{roles}"
                                   th:text="${role.roleName}" th:value="${role.id}"/>
                        </th:block>
                    </div>
                </div>

                <div>
                    <button type="submit" id="btnSubmit" class="form-control btn-primary">Update</button>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("La contraseña no coincide");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;

    </script>
</div>
</body>
</html>