<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:sd="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>KeVeo/GestiónUsuarios</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/}">Bienvenido a KeVeo</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Cerrar
                    sesión</a></li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>

<div class="container">
    <span sd:page-size-selector="javascript"></span>
    <form action="#" class="form" th:action="@{'/'}" method="post">
    <br>
    <h1>
        GESTIÓN DE USUARIOS
    </h1>

    <br>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Activo</th>
            <th>E-mail</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Fecha de nacimiento</th>
            <th>Fecha de Registro</th>
            <th>Roles</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${listUsers}">
            <td th:text="${user.id}">User ID</td>
            <td th:text="${user.active}">Activo</td>
            <td th:text="${user.userEmail}">E-mail</td>
            <td th:text="${user.userName}">Nombre</td>
            <td th:text="${user.userSurname}">Apellidos</td>
            <td th:text="${user.date}">Fecha de Naciento</td>
            <td th:text="${user.registerDate}">Fecha de Registro</td>
            <td th:text="${user.roles}">Roles</td>
            <td><a th:href="@{'/gestionUser/edit/' + ${user.id}}">
                <button  type="button" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></button>
            </a></td>
            <td> <button class="btn btn-danger" type="submit" value="Delete"
                          th:formaction="'/gestionUser/' + ${user.id} + '/delete'">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
                </td>
        </tr>
        <tr th:if="${#lists.isEmpty(listUsers.content)}">
            <td colspan="13" class="text-center">No User</td>
        </tr>
        </tbody>
    </table>
    </form>
</div>

<div th:if="${not #lists.isEmpty(listUsers.content)}">
    <div class="text-center">
        <nav>
            <ul class="pagination" sd:pagination="full">
                <div th:if="${listUsers.totalPages > 0}" class="pagination"
                     th:each="pageNumber : ${pageNumbers}">
                    <li th:class="${pageNumber==listUsers.number + 1} ? active">
                        <a href="#" th:href="@{/gestionUser(size=${listUsers.size}, page=${pageNumber})}"
                           th:text=${pageNumber}></a>
                    </li>
                </div>
            </ul>
        </nav>
    </div>
</div>
<!--"@{'/gestionUser/delete/' + ${user.id}}"-->




<!-- Latest compiled and minified JavaScript -->
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>