<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Peliculas</title>
</head>
<body>
<div layout:fragment="content">

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="static/css/coverStyle.css" th:href="@{/css/coverStyle.css}">

    <div class="container">
        <span sd:page-size-selector="javascript"></span>

        <h1 class="neonText">
            Películas
        </h1>

        <br>

        <form class="example" th:action="film">
            <input type="text" style="width:20%" placeholder="Buscar por..   ID,Nombre,Email.." name="wordKey"
                   id="wordKey" th:value="${wordKey}">
            &nbsp;
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span> Buscar..
            </button>
            &nbsp;
            <input type="button" class="btn btn-danger" onclick="cleanFields()" value="X">
            <!--<button onclick="cleanFields()" ><span class="glyphicon glyphicon-remove"></span></button>-->

        </form>

        <br>
        <form action="#" class="form" th:action="@{'/'}" method="post">

            <div th:each="film: ${listFilms}">
                <div class="film">
                    <img th:src="${film.cover}" alt="">
                    <div class="desc">
                        <button>INFO</button>
                        <hr>
                        <div class="text" th:text="${film.title}">

                        </div>
                        <div class="text" >
                            Plataformas:
                            <p th:text="${film.platforms}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

        <div th:if="${not #lists.isEmpty(listFilms.content)}">
            <div class="text-center">
                <nav>
                    <ul class="pagination" sd:pagination="full">
                        <div th:if="${listFilms.totalPages > 0}" class="pagination"
                             th:each="pageNumber : ${pageNumbers}">
                            <li th:class="${pageNumber==listFilms.number + 1} ? active">
                                <a href="#"
                                   th:href="@{/film(size=${listFilms.size}, page=${pageNumber}, wordKey=${wordKey})}"
                                   th:text=${pageNumber}></a>
                            </li>
                        </div>
                    </ul>
                </nav>
            </div>
        </div>
        <!--"@{'/gestionUser/delete/' + ${user.id}}"-->

        <script type="text/javascript">
    function cleanFields(){
    window.location='/film';
    }

        </script>
        <!-- Latest compiled and minified JavaScript -->

</div>
</body>
</html>