<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout}">
<head>
    <title>Registro</title>

</head>
<body>
<div layout:fragment="content">

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="static/css/login.css" th:href="@{/css/register.css}">


    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="static/img/register/userAvengers.jpg" th:src="@{/img/register/userAvengers.jpg}"/>
                </div>

                <form class="col-12" th:action="@{/register}" method="post" enctype="multipart/form-data"
                      th:object="${user}">

                    <img src="static/img/uneteTitle.png" th:src="@{/img/register/uneteTitle.png}"/>
                    <br>
                    <br>
                    <br>
                    <div class="form-group" id="user-group">
                        <input type="text" placeholder="Nombre" class="form-control" th:field="*{userName}"
                               required autofocus="autofocus">
                    </div>

                    <div class="form-group" id="user-group">
                        <input class="form-control" placeholder="Apellido" th:field="*{userSurname}"
                               required autofocus="autofocus">
                    </div>

                    <div class="form-group" id="email-group">
                        <input
                                id="email" type="email" class="form-control" placeholder="Email" th:field="*{userEmail}"
                                required autofocus="autofocus">
                    </div>

                    <div class="form-group" id="calendar-group">
                        <input
                                type="date" id="date" class="form-control" th:field="*{date}"
                                required autofocus="autofocus">
                    </div>

                    <div class="form-group" id="file-group">

                        <input
                                type="file" name="file" id="file" class="form-control"
                        >
                    </div>

                    <div class="form-group" id="contrasena-group">
                        <input type="password" class="form-control" placeholder="Contraseña" th:field="*{password}"
                               required autofocus="autofocus">
                    </div>

                    <div class="form-group" id="contrasena-group">
                        <input
                                type="password" id="confirm_password" placeholder="Confirmar Contraseña"
                                class="form-control"
                                required autofocus="autofocus">
                    </div>

                    <button type="submit" class="form-control btn-primary comfirm"><i class="fas fa-sign-in-alt"
                                                                                      name="login-submit"
                                                                                      id="login-submit"></i> Registrar
                    </button>
                </form>
                <div class="form-group">
					<span>Si ya estas registrado <a th:href="@{/login}">conectate
							aqui</a></span>
                </div>
                <div th:if="${errors}" class="alert alert-danger" role="alert">
                    Invalid username and password.
                </div>
                <div th:if="${param.successful}" class="alert alert-success" role="alert">
                    Te has unido a KeVedo. Bienvenido!
                </div>
            </div>
        </div>
    </div>
    <script src="./js/confirmPassword.js"></script>
</div>
<script src="./js/confirmPassword.js"></script>
</body>
</html>
