<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>INFO Película</title>


</head>
<body>

<div layout:fragment="content">
    <link rel="stylesheet" type="text/css" href="static/css/infoStyle" th:href="@{/css/infoStyle.css}">
    <link rel="stylesheet" type="text/css" href="static/css/layoutStyle.css" th:href="@{/css/layoutStyle.css}">
    <main>
        <form th:action="@{'/'}" th:object="${film}" method="post">
        <!-- <div class="container"> -->
        <div class="movie-card">
            <div class="poster-wrapper">
                <div class="poster">
                    <img th:src="${film.cover}" alt="poster"/>
                </div>
            </div>
            <!-- end poster-wrapper -->
            <div class="movie-info">
                <div class="header-section">
                    <h2 th:text="${film.title}"></h2>
                    <p>
                        <span th:each="genre: ${film.genres}">
                            <i th:text="${genre.name} + ' / '"></i>
                        </span><i th:text="${film.year} + ' / ' + ${film.duration} + 'min'"></i>
                    </p>

                    <div class="extra">
                        <div class="ratings"><p> &#9733; &#9733; &#9733; &#9733; &#9734; 8.0</p></div>

                    </div>
                </div>





               <div>
                    <h3>PLATAFORMAS</h3>
                    <a th:each="num: ${film.platforms}">

                        <a th:if="${num.toString() == 'Netflix'}" href="https://www.netflix.com/es/browse/genre/839338" target="_blank">
                            <span><img class="platform" th:src="@{/img/platform/netflix.png}"></span></a>

                        <a th:if="${num.toString() == 'HBO Max'}" href="https://www.hbomax.com/" target="_blank">
                            <span><img  class="platform" th:src="@{/img/platform/hbo.png}"></span></a>

                        <a th:if="${num.toString() == 'Prime Video'}" href="https://www.primevideo.com/" target="_blank">
                            <span><img  class="platform" th:src="@{/img/platform/prime.png}"></span></a>

                        <a th:if="${num.toString() == 'Disney+'}" href="https://www.disneyplus.com/" target="_blank">
                            <span><img  class="platform" th:src="@{/img/platform/disney.png}"></span></a>
                    </a>


                </div>

                    <div class="cast-section">
                        <h3>THE CAST</h3>
                        <div th:text="${film.casting}">

                        </div>
                    </div>

                    <div class="synopsis-section">
                        <h3>SYNOPSIS</h3>
                        <span class="more" th:text="${film.synopsis}"></span>
                    </div>
                <div class="gallery-section">
                    <h3>TRAILER</h3>
                    <div class="gallery">
                        <iframe th:src="${film.trailer} + '?autoplay=1&mute=1'">
                        </iframe>
                    </div>
                </div>
                </div>
            </div>
            <!-- end movie-card -->
        <!-- </div> -->
        </form>
    </main>
    <!-- partial -->

</div>

</body>
</html>
