<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Peliculas</title>
</head>
<body>
<div layout:fragment="content">

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="static/css/coverStyle.css" th:href="@{/css/coverStyle.css}">

    <div class="container">
        <span sd:page-size-selector="javascript"></span>

        <h1 class="neonText">
            Películas
        </h1>
        <br>

        <div class="btn-group">
            <button type="button" class="btn-gender">Generos</button>
            <button type="button" class="btn-gender dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu" >

               <div th:each="genre: ${listGenres}">
                <span class="btngroup">
            <a class="btngroup--a" th:href="@{/film(wordKey=${genre.name})}" th:text="${genre.name}"></a>
            </span>
               </div>
            </div>
        </div>&nbsp;&nbsp;

        <div class="btn-group">
            <button type="button" class="btn-gender">Plataformas</button>
            <button type="button" class="btn-gender dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu" >

                <div>
                <span class="btngroup">

                          <li class="dropdown-item">
                              <img src="./img/platform/netflix.png" width="32" height="26">
                              <a class="btngroup--a" th:href="@{/film(wordKey='Netflix')}">Netflix</a></li>

                    <li class="dropdown-item">
                              <img src="./img/platform/hbo.png" width="32" height="26">
                              <a class="btngroup--a" th:href="@{/film(wordKey='HBO Max')}">HBO Max</a></li>

                    <li class="dropdown-item">
                              <img src="./img/platform/prime.png" width="32" height="26">
                              <a class="btngroup--a" th:href="@{/film(wordKey='Prime Video')}">Prime Video</a></li>

                    <li class="dropdown-item">
                              <img src="./img/platform/disney.png" width="32" height="26">
                              <a class="btngroup--a" th:href="@{/film(wordKey='Disney+')}">Disney+</a></li>

            </span>
                </div>
            </div>
        </div>

        <br>
        <br>

        <!-- partial:index.partial.html -->
        <form class="search" th:action="film">
            <input class="searchTerm" placeholder="Buscar ..." name="wordKey"
                   id="wordKey" th:value="${wordKey}"/><input class="searchButton" type="submit" />

        </form>

        <br>

        <br>

            <div th:each="film: ${listFilms}">
                <div class="film">
                    <img th:src="${film.cover}" alt="">
                    <div class="desc">
                        <a th:href="@{'/film/filmInfo/' + ${film.id}}"><button>INFO</button></a>
                        <hr>
                        <div class="text" th:text="${film.title}">

                        </div>

                        <div class="text" >

                            Plataformas disponibles:

                            <a th:each="num: ${film.platforms}">

                              <a th:if="${num.toString() == 'Netflix'}" href="https://www.netflix.com/es/browse/genre/839338" target="_blank">
                                  <span><img src="./img/platform/netflix.png"></span></a>

                                <a th:if="${num.toString() == 'HBO Max'}" href="https://www.hbomax.com/" target="_blank">
                                    <span><img src="./img/platform/hbo.png"></span></a>

                                <a th:if="${num.toString() == 'Prime Video'}" href="https://www.primevideo.com/" target="_blank">
                                    <span><img src="./img/platform/prime.png"></span></a>

                                <a th:if="${num.toString() == 'Disney+'}" href="https://www.disneyplus.com/" target="_blank">
                                    <span><img src="./img/platform/disney.png"></span></a>
                            </a>


                        </div>
                    </div>
                </div>
            </div>

    </div>

        <div th:if="${not #lists.isEmpty(listFilms.content)}">
            <div class="text-center">
                <nav>
                    <ul class="pagination" sd:pagination="full">
                        <div th:if="${listFilms.totalPages > 0}" class="pagination"
                             th:each="pageNumber : ${pageNumbers}">
                            <li th:class="${pageNumber==listFilms.number + 1} ? active">
                                <a href="#"
                                   th:href="@{/film(size=${listFilms.size}, page=${pageNumber}, wordKey=${wordKey})}"
                                   th:text=${pageNumber}></a>
                            </li>
                        </div>
                    </ul>
                </nav>
            </div>
        </div>

</div>
</body>
</html>